.profile {
  width: 400px;

  margin: 40px auto;
  padding: 150px;

  background-color: rgb(232, 236, 241);
}

.description {
  padding: 30px 15px;

  text-align: center;
  background-color: #ffffff;
}

.avatar {
  margin: 0 auto 30px auto;

  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.name {
  font-size: 36px;
  margin-bottom: 8px;
}

.tag,
.location {
  font-size: 24px;
  color: grey;
}

.tag {
  margin-bottom: 4px;
}

.stats {
  display: flex;
}

.statsItem {
  display: flex;
  flex-direction: column;

  flex-basis: 33.3333%;

  padding: 16px 5px;

  background-color: rgb(249, 246, 249);
  border: 1px solid rgb(230, 234, 240);
}

.statsItem:not(:last-child) {
  border-right: none;
}

.label {
  margin-bottom: 4px;

  font-size: 16px;
  text-align: center;

  color: grey;
}

.quantity {
  font-size: 32px;
  text-align: center;
}
